<template>
  <div class="grid grid-cols-1 md:grid-cols-2" style="background-image: url('/assets/background/dust_scratches.png');">
    <div class="flex px-2 py-5 place-content-center mx-5 md:mx-2">
      <div class="w-full border border-gray-200 rounded-lg">
        <form  @submit="saveOrUpdate" id="menu">
          <div class="px-10 pt-5">
            <div class="flex flex-wrap -mx-3">
              <div class="w-full px-3 mb-6">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="student_name">
                  Nombre(s) y Apellido(s)
                </label>
                <input class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none" v-model="student.student_name" autocomplete="off" type="text" placeholder="XXXXXXXXX XXXXXXX" required>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3">
              <div class="w-full px-3 mb-6">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="student_dni">
                  Documento de Identidad
                </label>
                <input class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" autocomplete="off" v-model="student.student_dni" type="number" placeholder="XXXXXXXX" required>
              </div>
              <div class="w-full px-3 mb-6">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="course_code">
                  Codigo
                </label>
                <input class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" autocomplete="off" v-model="student.course_code" type="text" placeholder="XXX. XXX - XX - XX" required>
              </div>
              <div class="w-full px-3 mb-6">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="course_name">
                  Curso
                </label>
                <input class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" autocomplete="off" v-model="student.course_name" type="text" placeholder="XXXXXXXXXX XXXXX" required>
              </div>
              <div class="w-full px-3 mb-6">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase whitespace-normal" for="school">
                  Instituto del Certificado
                </label>
                <div class="mt-1 relative">
                  <select v-model="student.school" class="block appearance-none bg-gray-200 w-full border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:border-gray-500" required>
                    <option>Instituto Itcenco</option>
                    <option>Ecca Peru</option>
                    <option>Cype Peru</option>
                    <option>CIP</option>
                  </select>
                  <div class="absolute flex inset-y-0 items-center px-3 right-0 text-gray-700 bg-purple-300 rounded-r pointer-events-none">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                  </div>
                </div>
              </div>
              <div class="w-full px-3 mb-6">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="course_end">
                  Fecha de Finalización
                </label>
                <input class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" v-model="student.course_end" type="date" required>
              </div>
            </div>

            <div class="flex mb-6 -mx-3">
              <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0 flex flex-col justify-between">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="course_score">
                  Nota Total
                </label>
                <input class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" v-model="student.course_score" type="number" min="0" max="20" value="0" required>
              </div>
              <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0 flex flex-col justify-between">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase whitespace-normal break-all md:line-clamp-1" for="course_time">
                  Horas Certificadas
                </label>
                <input class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" v-model="student.course_time" type="number" value="0" required>
              </div>
            </div>

            <div class="flex flex-wrap -mx-3">
              <div class="w-full px-3 mb-2">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="url_download">
                  Certificado Virtual (Url)
                </label>
                <input class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:border-gray-500" v-model="student.url_download" type="text" placeholder="https://xxxx.xxx/xxxxxxxxx.xxx">
              </div>
            </div>

          </div>
          <div class="flex items-center justify-center md:justify-end pb-5 px-10">
            <div class="flex flex-col md:flex-row justify-center gap-2" v-if="student.student_id">
              <button v-on:submit.prevent="onSubmit" v-on:click.stop.prevent="clearInputs()" class="flex items-center py-2 px-2 capitalize tracking-wide bg-red-500 dark:bg-gray-800 text-white font-medium rounded hover:bg-red-600 dark:hover:bg-gray-700 focus:outline-none focus:bg-red-500 dark:focus:bg-gray-700">
                <svg class="h-5 w-5 mx-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="mx-1">Cancelar</span>
              </button>
              <button class="flex items-center py-2 px-2 capitalize tracking-wide bg-blue-500 dark:bg-gray-800 text-white font-medium rounded hover:bg-blue-600 dark:hover:bg-gray-700 focus:outline-none focus:bg-blue-500 dark:focus:bg-gray-700">

                <svg class="h-5 w-5 mx-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16v2a2 2 0 01-2 2H5a2 2 0 01-2-2v-7a2 2 0 012-2h2m3-4H9a2 2 0 00-2 2v7a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-1m-1 4l-3 3m0 0l-3-3m3 3V3" />
                </svg>
                <span class="mx-1">Actualizar</span>
              </button>
            </div>
            <button v-else class="flex items-center py-2 px-2 capitalize tracking-wide bg-blue-500 dark:bg-gray-800 text-white font-medium rounded hover:bg-blue-600 dark:hover:bg-gray-700 focus:outline-none focus:bg-blue-500 dark:focus:bg-gray-700">

              <svg class="h-5 w-5 mx-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
              </svg>
              <span class="mx-1">Guardar</span>
            </button>

          </div>
        </form>
        <div v-if="alert.status" class="fixed bottom-0 left-0 m-8 w-5/6 md:w-full max-w-sm">
          <div class="flex max-w-sm w-full mx-auto dark:bg-gray-800 shadow-md rounded-lg bg-white overflow-hidden">
            <div class="flex justify-center items-center w-12" v-bind:class="[alert.color ? alert.color : '']">
              <svg class="h-6 w-6 fill-current text-white hidden" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <svg class="h-6 w-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
              </svg>
            </div>

            <div class="-mx-3 py-2 px-4">
              <div class="mx-3">
                <span class="text-blue-500 dark:text-blue-400 font-semibold" v-text="alert.title"></span>
                <p class="text-gray-600 dark:text-gray-200 text-sm" v-text="alert.message"></p>
              </div>
            </div>
            <button @click="removeAlert()" class="ml-auto rounded-md p-2 hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
              <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex px-2 py-5 place-content-center mx-5 md:mx-2">
      <div class="w-full border border-gray-200 rounded-lg">
        <div class="container mx-auto h-full flex flex-col items-center justify-center p-5 text-gray-900 antialiased">
          <div class="mb-8 px-6 py-3 border border-gray-200 border-opacity-75 rounded-lg shadow-lg w-full space-x-6 flex items-center">
            <button class="focus:outline-none"><i class="fa fa-search text-gray-500"></i></button>
            <input @keyup="searchTimeOut" @keyup.enter="searchCertificate" @keyup.down="loadCertificates" v-model="search" type="text" class="w-full bg-transparent text-base focus:outline-none" placeholder="INGRESE EL DNI">
          </div>

          <div class="flex flex-col space-y-2 text-base text-gray-800 w-full overflow-x-auto">

            <!--Foreach-->
            <div v-for="certificate in certificates.data" :key="certificate.id" class="py-3 px-6 border hover:shadow-lg">
              <div class="flex items-center justify-between">
                <h4 class="font-bold">{{certificate.student_name}}</h4>
                <i class="fa fa-angle-down text-gray-500" @click="active == certificate.id ? active = null : active = certificate.id;"></i>
              </div>
              <div class="flex flex-row justify-between pt-3" v-if="active == certificate.id">
                <div class="flex w-full">
                  <img src="https://randomuser.me/api/portraits/women/44.jpg" class="w-10 h-10 object-cover rounded object-top hidden"/>
                  <div class="flex flex-col w-full">
                    <h3 class="text-gray-500 text-sm break-all">ESCUELA: {{certificate.school}}</h3>
                    <h3 class="text-gray-500 text-sm break-all">CODIGO: {{certificate.course_code}}</h3>
                    <h3 class="text-gray-500 text-sm break-all">DNI: {{certificate.student_dni}}</h3>
                    <h3 class="text-gray-500 text-sm break-all">CURSO: {{certificate.course_name}}</h3>
                    <div class="flex justify-end space-x-2">
                      <button @click="preLoading(certificate)" class="text-gray-500 flex items-center text-sm focus:outline-none rounded py-2 leading-none group">
                        <svg class="h-4 w-4 mr-2 stroke-current text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                        </svg>
                        <p class="text-gray-900 font-extralight group-hover:text-green-500 hidden sm:block">Editar</p>
                      </button>
                      <button @click="removeCertificate(certificate);" class="text-gray-500 flex items-center text-sm focus:outline-none rounded py-2 leading-none group">
                        <svg class="h-4 w-4 mr-2 stroke-current text-red-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                        <p class="text-gray-900 font-extralight group-hover:text-red-500 hidden sm:block">Borrar</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="certificates" class="mt-auto flex py-2 justify-center w-full bg-gray-300 rounded-b-lg border border-b-2">
            <button @click="paginate(false)" v-bind:class="{'cursor-not-allowed': !certificates.prev_page_url}" class="mx-1 px-3 py-2 text-gray-700 bg-gray-200 hover:bg-blue-500 hover:text-white rounded-md focus:outline-none">Atras</button>
            
            <a class="mx-1 px-5 py-2 bg-gray-600 text-white rounded-md select-none"> {{certificates.current_page}} </a>

            <button @click="paginate(true)" v-bind:class="{'cursor-not-allowed': !certificates.next_page_url}" class="mx-1 px-3 py-2 text-gray-700 bg-gray-200 hover:bg-blue-500 hover:text-white rounded-md focus:outline-none">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data(){
      return{
        student: {
          school: "",
          student_id: null,
          student_name: "",
          student_dni: "",
          course_code: "",
          course_name: "",
          course_end: "",
          course_score: "",
          course_time: "",
          url_download: "",
        },
        alert: {
          status: false,
          title: "",
          message: "",
          color: "",
        },
        schools: ['Itcenco', 'Other'],
        certificates: [],
        active: null,
        timer: null,
        search: "",
      }
    },
    mounted() {
      this.loadCertificates();
    },
    methods: {
      loadCertificates(page = null){
        this.active = null;
        axios.get(page || '/panel/certificado').then(result => {
          this.certificates = result.data;
        }).catch(error => (this.createAlert('Error', 'No se pudo cargar la lista de certificados.', 5, 'bg-red-500')));
      },
      searchCertificate(){
        if (this.search.length > 0) {
          this.loadCertificates('/panel/certificado/search?by=' + this.search);
        }else{
          this.loadCertificates();
        }
      },
      saveOrUpdate(e){
        e.preventDefault();
        if (this.student.student_id) {
          this.updateCertificate();
        }else{
          this.saveCertificate();
        }
      },
      saveCertificate() {
        axios.post('/panel/certificado', this.student).then((response) => {
          this.clearInputs();
          this.loadCertificates();
          if (response.data && response.data.success) {
            this.createAlert('Agregado', 'Se registro el certificado.', 5);
          }
        }).catch((error) => {
          if (error.response.data && error.response.data.errors) {
            var message = Object.values(error.response.data.errors).shift().toString();
            this.createAlert('Info', message, 5, 'bg-red-500');
          }
        });
      },
      updateCertificate(){
        if (this.student.student_id) {
          axios.put('/panel/certificado/' + this.student.student_id, this.student).then((response) => {
            this.createAlert('Exito', 'El certificado fue actualizado.', 5);
            this.clearInputs();
            this.loadCertificates();
          }).catch((erros) => {
            this.createAlert('Error', 'No se pudo actualizar el certificado.', 5, 'bg-red-500');
          });
        }
      },
      removeCertificate(certificate){
        if (!confirm('¿Estas seguro que desea borrar este Certificado?')) {
          return false;
        }
        axios.delete('/panel/certificado/' + certificate.id).then((response) => {
          this.createAlert('Exito', 'El certificado fue eliminado.', 5, 'bg-yellow-500');
        }).catch();

        let key = this.certificates.data.indexOf(certificate);
        if (key >= 0) {
          this.certificates.data.splice(key, 1);
        }
        if (this.certificates.data.length > 0 && this.certificates.links[1].url) {
          this.loadCertificates(this.certificates.links[1].url);
        }else{
          this.loadCertificates();
        }
      },
      preLoading(certificate){
        this.student = {
          student_id: certificate.id,
          school: certificate.school,
          student_name: certificate.student_name,
          student_dni: certificate.student_dni,
          course_code: certificate.course_code,
          course_name: certificate.course_name,
          course_end: certificate.course_end,
          course_score: certificate.course_score,
          course_time: certificate.course_time,
          url_download: certificate.url_download,
        };
        $('html, body').animate({scrollTop : $('#menu').offset().top}, 2000);
      },
      createAlert(title, message, time = 5, colorClass = 'bg-green-500'){
        this.alert = {
          status: true,
          title: title,
          message: message,
          color: colorClass || 'bg-green-500',
        };
        setTimeout(() => (this.removeAlert()), 1000 * time);
      },
      removeAlert(){
        this.alert.status = false;
      },
      dropdown(value) {
        this.$refs.[value].visible = true;
      },
      paginate(value= true){
        var page_url = null;
        if(value && this.certificates.next_page_url){
          this.loadCertificates(this.certificates.next_page_url);
        }else if (!value && this.certificates.prev_page_url) {
          this.loadCertificates(this.certificates.prev_page_url);
        }
      },
      clearInputs(){
        this.student = {
          student_id: null,
          school: "",
          student_name: "",
          student_dni: "",
          course_code: "",
          course_name: "",
          course_end: "",
          course_score: "",
          course_time: "",
          url_download: "",
        };
      },
      searchTimeOut(){
        if (this.timer) {
          clearTimeout(this.timer);
          this.timer = null;
        }
        this.timer = setTimeout(() => {
          this.searchCertificate();
        }, 1000);
      }
    },
    computed: {

    },
  }
</script>