<template>
    <div id="update" style="background-image: url('/assets/background/dust_scratches.png');">
        <div class="container grid grid-cols-1 md:grid-cols-2">
            <form @submit="saveOrUpdate">
                <div class="flex flex-col px-2 py-4 m-4 border border-gray-300 rounded shadow-md">
                    <div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center p-2">
                        <h1 class="font-serif text-2xl font-black text-blue-500 py-2">Aulas Virtuales</h1>
                        <div v-if="classroom.classroom_id" class="flex space-x-3">
                            <button type="button" @click="clearInputs()" class="flex justify-center items-center focus:outline-none py-1 px-2 bg-green-500 hover:bg-green-600 rounded text-white">
                                <svg class="h-6 w-6 rounded-full stroke-current text-white hover:shadow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                              Cancelar
                          </button>
                            <button type="submit" class="flex justify-center items-center focus:outline-none py-1 px-2 bg-blue-500 hover:bg-blue-600 rounded text-white" v-bind:class="{'cursor-wait': waiting}">
                                <svg class="h-6 w-6 rounded-full stroke-current text-white hover:shadow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                              </svg>
                              Guardar
                          </button>
                        </div>

                        <button type="submit" v-else class="flex justify-center items-center focus:outline-none py-1 px-2 bg-blue-500 hover:bg-blue-600 rounded text-white" v-bind:class="{'cursor-wait': waiting}">
                            <svg class="h-6 w-6 rounded-full stroke-current text-white hover:shadow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                            </svg>
                            Añadir
                        </button>
                    </div>
                    <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 bg-gray-200 border border-gray-300 uppercase p-2 mt-2">Titulo del Aula Virtual:</label>
                    <input v-model="classroom.title" class="placeholder-gray-500 shadow-sm w-full p-2 border border-gray-300 bg-gray-100 rounded-b-md focus:outline-none" required>

                    <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 bg-gray-200 border border-gray-300 uppercase p-2 mt-2">Descripción del Aula virtual:</label>
                    <textarea v-model="classroom.description" class="placeholder-gray-500 shadow-sm w-full h-24 p-2 border border-gray-300 bg-gray-100 rounded-b-md focus:outline-none" required></textarea>

                    <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 bg-gray-200 border border-gray-300 uppercase p-2 mt-2">Horario de clases:</label>
                    <div class="flex border border-gray-300 divide-x divide-gray-300">
                        <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 bg-gray-200 uppercase p-3 w-full">Fecha de Inicio:</label>
                        <input v-model="classroom.class_start" class="placeholder-gray-500 shadow-sm w-full p-2 bg-gray-100 focus:outline-none" type="date">
                    </div>
                    <textarea v-model="classroom.class_time" class="placeholder-gray-500 shadow-sm w-full p-2 border border-gray-300 bg-gray-100 rounded-b-md focus:outline-none" rows="3" placeholder="Lunes: 8am - 1pm"></textarea>

                    <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 bg-gray-200 border border-gray-300 uppercase p-2 mt-2">Enlaces Clase en Vivo:</label>
                    <div class="flex">
                        <input v-model="classroom.meet_url" placeholder="Google Meet" class="w-full p-2 border border-gray-300 bg-gray-100 rounded-bl-md focus:outline-none">
                        <input v-model="classroom.zoom_url" placeholder="Google Zoom" class="w-full p-2 border border-gray-300 bg-gray-100 focus:outline-none">
                        <input v-model="classroom.mstm_url" placeholder="Team Microsoft" class="w-full p-2 border border-gray-300 bg-gray-100 rounded-br-md focus:outline-none">
                    </div>
                    <div class="flex flex-col rounded-md border border-gray-300 mt-2">
                        <div class="flex justify-between items-center bg-gray-200  border-b border-gray-300">
                            <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 uppercase p-3">Enlaces Clase y Trabajos</label>
                            <button @click="addUrl()" type="button" class="flex justify-center items-center focus:outline-none p-2">
                                <svg class="h-6 w-6 bg-blue-500 rounded-full stroke-current text-white hover:shadow hover:bg-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                        </div>
                        <div class="flex">
                            <input v-model="lesson_name" placeholder="Nombre" class="w-full p-2 bg-gray-100 border border-gray-300 focus:outline-none">
                            <input v-model="lesson_url" placeholder="Enlace" class="w-full p-2 bg-gray-100 border border-gray-300 focus:outline-none">
                        </div>
                        <div class="flex flex-col border rounded-b-sm border-gray-300 justify-center space-y-1 divide-y divide-gray-300 px-3">
                            <div v-for="(value, key) in classroom.lessons" :key="key" class="flex py-2">
                                <a :href="value.lesson_url" target="_blank" class="w-full">{{value.lesson_name}}</a>
                                <button type="button" v-on:click="delUrl(key)" class="focus:shadow-outline">
                                    <svg class="h-6 w-6 bg-red-500 rounded-full stroke-current text-white hover:shadow hover:bg-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col rounded-md border border-gray-300 mt-2">
                        <div class="flex justify-between items-center bg-gray-200  border-b border-gray-300">
                            <label class="text-xs font-semibold uppercase rounded-t-md text-gray-600 uppercase p-3">Alumnos</label>
                            <div class="flex space-x-1">
                                <button class="focus:outline-none" type="button" :disabled="page <= 1" v-bind:class="{'cursor-not-allowed': page <= 1}" @click="page--">
                                    <svg class="h-6 w-6 bg-gray-300 hover:bg-gray-400 stroke-current text-white rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                                    </svg>
                                </button>
                                <button type="button" class="focus:outline-none">
                                    <p class="h-6 w-6 border-b-2 border-gray-300">{{page}}</p>
                                </button>
                                <button class="focus:outline-none" type="button" :disabled="getUsers(1).length == 0" v-bind:class="{'cursor-not-allowed': getUsers(1).length == 0}" @click="page++">
                                    <svg class="h-6 w-6 bg-gray-300 hover:bg-gray-400 stroke-current text-white rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                    </svg>
                                </button>
                                <button @click="addMember()" type="button" class="flex justify-center items-center focus:outline-none p-2">
                                    <svg class="h-6 w-6 bg-blue-500 rounded-full stroke-current text-white hover:shadow hover:bg-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <textarea v-model="emails" class="w-full p-2 bg-gray-100 border border-gray-300 focus:outline-none" placeholder="Ingrese su correo electronico o la lista de correos electronicos" rows="4"></textarea>
                        <div class="flex flex-col border rounded-b-sm border-gray-300 justify-center space-y-1 divide-y divide-gray-300 px-3">
                            <div v-for="(user, key) in getUsers()" :key="user"class="flex py-2">
                                <p class="w-full truncate">{{ user }}</p>
                                <button type="button" v-on:click="delMember(user)" class="focus:outline-none">
                                    <svg class="h-6 w-6 bg-red-500 rounded-full stroke-current text-white hover:shadow hover:bg-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center p-6 border-2 border-gray-500 border-dashed rounded-md bg-cover bg-center mt-2" @dragover.prevent @drop="onDrop" v-bind:style="[preview ? {'background-image': 'url(' + preview + ')'} : (classroom.photo_url ? {'background-image': 'url(' + classroom.photo_url + ')'} : '')]">
                        <div class="space-y-1 text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="flex text-sm text-gray-600">
                                <label v-if="preview == null" for="image" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 ring-indigo-500">
                                    <span>Subir</span>
                                    <input @change="onUpload" id="image" name="image" type="file" class="sr-only">
                                </label>
                                <button v-else @click="preview = null; classroom.photo_file = '';" type="button" class="relative cursor-pointer bg-white rounded-md font-medium text-red-600 hover:text-red-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 ring-red-500">
                                    <span>Borrar</span>
                                </button>
                                <p class="pl-1">O suelta un archivo</p>
                            </div>
                            <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex flex-col px-2 py-5 m-4 border border-gray-300 rounded shadow-md">
                <div class="flex justify-between items-center  border-b border-gray-300">
                    <h1 class="font-serif text-2xl font-black text-blue-500 p-3">Lista de Aulas</h1>
                    <div v-if="classrooms.links" class="flex space-x-1">
                        <button class="focus:outline-none" type="button" :disabled="!classrooms.prev_page_url" v-bind:class="{'cursor-not-allowed': !classrooms.prev_page_url}" @click="loadClassrooms(classrooms.prev_page_url)">
                            <svg class="h-6 w-6 bg-gray-300 hover:bg-gray-400 stroke-current text-white rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <button type="button" class="focus:outline-none">
                            <p class="h-6 w-6 border-b-2 border-gray-300">{{classrooms.current_page}}</p>
                        </button>
                        <button class="focus:outline-none" type="button" :disabled="!classrooms.next_page_url" v-bind:class="{'cursor-not-allowed': !classrooms.next_page_url}" @click="loadClassrooms(classrooms.next_page_url)">
                            <svg class="h-6 w-6 bg-gray-300 hover:bg-gray-400 stroke-current text-white rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div v-for="classroom in classrooms.data" :key="classroom.id" class="flex cursor-pointer border border-gray-400 rounded-lg hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200 my-1">
                    <a class="h-24 w-1/4" :href="'/aulavirtual/' + classroom.id" target="_blank">
                        <div class="h-24 w-full rounded-l bg-cover bg-center" v-bind:style="[classroom.photo_url ? { 'background-image': 'url(' + classroom.photo_url + ')'} : '']">
                        </div>
                    </a>
                    <div class="flex flex-col px-2 w-3/4 h-24">
                        <div class="flex justify-between">
                            <h2 class="font-bold text-sm line-clamp-2 break-all" v-text="classroom.title"></h2>
                            <div class="flex justify-center space-x-2 pt-2 pr-2">
                                <button type="button" @click="removeClassroom(classroom)" class="focus:outline-none"><i class="fa fa-trash text-sm bg-red-500 hover:bg-red-600 text-white rounded h-8 w-8 flex justify-center items-center"></i></button>
                                <button type="button" @click="preLoading(classroom)" class="focus:outline-none"><i class="fa fa-pencil text-sm bg-blue-500 hover:bg-blue-600 text-white rounded h-8 w-8 flex justify-center items-center"></i></button>
                            </div>
                        </div>
                        <p class="text-sm text-gray-700 font-mono text-1xl text-gray-700 hover:text-gray-900 transition-all duration-200 whitespace-wrap break-all line-clamp-3" v-html="classroom.description"></p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                waiting: false,
                emails: "",
                lesson_name: "",
                lesson_url: "",
                preview: null,
                page: 1,
                classrooms:[],
                classroom: {
                    classroom_id: null,
                    title: "",
                    description: "",
                    photo_url: "",
                    photo_file: "",
                    meet_url: "",
                    zoom_url: "",
                    mstm_url: "",
                    class_start: "",
                    class_time: "",
                    users: [],
                    lessons: [],
                },
            }
        },
        methods:{
            loadClassrooms(url = null){
                let main =this;
                axios.get(url || '/panel/classroom/').then(function (response) {
                    main.classrooms = response.data;
                })
                .catch((error) => {});
            },
            saveOrUpdate(e){
                e.preventDefault();
                if (this.classroom.classroom_id) {
                    this.updateClassroom();
                }else{
                    this.createClassroom();
                }
            },
            createClassroom(){
                if (this.waiting) {
                    return;
                }
                this.waiting = true;
                let data = this.getMultiPart();
                axios.post('/panel/classroom', data).then((response) => {
                    this.clearInputs();
                    this.loadClassrooms();
                    alert('¡La aula virtual has sido creado!');
                    this.waiting = false;
                }).catch((error) => {
                    alert('¡No se pudo crear la aula virtual!');
                    this.waiting = false;
                });

            },
            removeClassroom(classroom){
                var main = this;
                if (confirm('¿Seguro que deseas borrar este grupo de aula virtual?')) {
                    axios.delete('/panel/classroom/' + classroom.id)
                    .then(function (response) {
                        main.loadClassrooms();
                    })
                    .catch((error) => {}); 
                }
            },
            updateClassroom(){
                if (this.classroom.classroom_id) {
                    if (this.waiting) {
                        return;
                    }
                    this.waiting = true;
                    var data = this.getMultiPart();
                    axios.post('/panel/classroom/' + this.classroom.classroom_id, data).then((response) => {
                        this.waiting = false;
                        alert('¡El aula virtual fue actualizado!');
                        this.clearInputs();
                        this.loadClassrooms();
                    }).catch((erros) => {
                        this.waiting = false;
                        alert('¡Error al intentar actualizar el aula virtual!');
                    });
                }
            },
            preLoading(classroom){
                this.classroom = {
                    classroom_id: classroom.id,
                    title: classroom.title || "",
                    description: classroom.description || "",
                    photo_url: classroom.photo_url || "",
                    photo_file: "",
                    meet_url: classroom.meet_url || "",
                    zoom_url: classroom.zoom_url || "",
                    mstm_url: classroom.mstm_url || "",
                    class_start: classroom.class_start || "",
                    class_time: classroom.class_time || "",
                    users: Object.values(classroom.users).map(user => user.user_email),
                    lessons: Object.values(classroom.lessons).map(lesson => ({lesson_name: lesson.lesson_name, lesson_url: lesson.lesson_url})),
                };
                $('html, body').animate({scrollTop : $('#update').offset().top}, 2000);
            },
            clearInputs(){
                this.waiting = false;
                this.emails = "";
                this.lesson_name = "";
                this.lesson_url = "";
                this.preview = null;
                this.page = 1;
                this.classroom = {
                    classroom_id: null,
                    title: "",
                    description: "",
                    photo_url: "",
                    photo_file: "",
                    meet_url: "",
                    zoom_url: "",
                    mstm_url: "",
                    class_start: "",
                    class_time: "",
                    users: [],
                    lessons: [],
                };
            },
            addUrl(){
                let main = this;
                if (main.lesson_name.length > 1 && main.lesson_url.length > 1) {
                    this.classroom.lessons.push({lesson_name: main.lesson_name, lesson_url: main.lesson_url});
                    main.lesson_name = "";
                    main.lesson_url = "";
                }
            },
            delUrl(index){
                if (index >= 0) {
                    this.classroom.lessons.splice(index, 1);
                }
            },
            addMember() {
                let main = this;
                if (main.emails.length < 1) {
                    return false;
                }
                let email = this.emails.toLowerCase().split(/[\s,]+/);
                Object.values(email).forEach((value) => {
                    if(value.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/)){
                        if (main.classroom.users.indexOf(value) < 0) {
                            main.classroom.users.unshift(value);
                        }
                    }
                });
                this.emails = "";
            },
            delMember(user){
                var index = this.classroom.users.indexOf(user);
                if (index >= 0) {
                    this.classroom.users.splice(index, 1);
                }
            },
            getUsers(amount = 0){
                return this.classroom.users.slice(((this.page + amount) - 1) * 5, (this.page + amount) * 5);
            },
            onUpload(event) {
                var files = event.target.files;
                this.createFile(files[0]);
            },
            onDrop (e) {
                e.stopPropagation();
                e.preventDefault();
                var files = e.dataTransfer.files;
                this.createFile(files[0]);
            },
            createFile(file) {
                if (!file.type.match('image.*')) {
                    return alert('La imagen no es valida.');
                }
                var img = new Image();
                var reader = new FileReader();
                var main = this;
                reader.onload = function(e) {
                    main.preview = e.target.result;
                    main.classroom.photo_file = file;
                };
                reader.readAsDataURL(file);
            },
            getMultiPart() {
                let main = this;
                let data = new FormData();
                data.append('title', main.classroom.title);
                data.append('description', main.classroom.description);
                data.append('photo_file', main.classroom.photo_file);
                data.append('meet_url', main.classroom.meet_url);
                data.append('zoom_url', main.classroom.zoom_url);
                data.append('mstm_url', main.classroom.mstm_url);
                data.append('class_start', main.classroom.class_start);
                data.append('class_time', main.classroom.class_time);
                data.append('users', JSON.stringify(main.classroom.users));
                data.append('lessons', JSON.stringify(main.classroom.lessons));
                return data;
            },
        },
        mounted() {
            
            $.ajaxSetup({
                headers:{
                    'X-CSRF-TOKEN' : $('meta[name="csrf-token"]').attr('content')
                }
            });
            this.loadClassrooms();
        },
    }
</script>