@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-square {
    font-family: 'Square';
    font-weight: 400;
    src: url(/fonts/proxima-nova/Square721_BT_Roman.ttf) format("ttf"); } }
@layer utilities {
  #page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 99999; }

  #page-loader .preloader-interior {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spiner 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spiner 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */ }

  #page-loader .preloader-interior:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spiner 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spiner 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */ }

  #page-loader .preloader-interior:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spiner 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spiner 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */ }

  @-webkit-keyframes spiner {
    0% {
      -webkit-transform: rotate(0deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */ }
    100% {
      -webkit-transform: rotate(360deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */ } }
  @keyframes spiner {
    0% {
      -webkit-transform: rotate(0deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */ }
    100% {
      -webkit-transform: rotate(360deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */ } } }

/*# sourceMappingURL=app.css.map */
