@import 'mixin';

.container{
    max-width: $max_width;
    margin-left: auto;
    margin-right: auto;
}
.d-none{
    display: none !important;
}
.d-flex{
    display: flex !important;
}
.d-grid{
    display: grid !important;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: 20.68px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.8rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.btn-primary{
    background-color: $main;
    color: $white;
}

.btn-initial{
    color: $main;
}

.btn-secondary{
    border: 1px solid $main;
}


.btn-icon{
    display: flex;
    align-items: center;
    figure{
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 0.4rem;
    }
}

.animate-scale:hover{
    transform: scale(1.1);
}
.color-main{
    color: $main;
}
.color-light-01{
    background-color: $main-light-01;
}
.color-light-02{
    background-color: $main-light-02;
}
.color-dark{
    background-color: $main-dark;
}
.color-white{
    background-color: $white;
}

.color-tertiary{
    background-color: $tertiary;
}
.color-secondary{
    background-color: $secondary;
}


.bg-primary{
    background-color: $main;
}

.bg-secondary{
    background-color: $secondary;
}

.bg-tertiary{
    background-color: $tertiary;
}

.mt-32{
    margin-top: 3.2rem;
}
.mt-24{
    margin-top: 2.4rem;
}

table{

    thead{
        tr{
        
            th{
                @include text(1.6rem,700,$gray);
                text-align: left;
                padding: 1.6rem;
               
            }
        }
    }

    tbody{
        tr{
            border-bottom: 2.4rem solid $white-light-01;
            background-color: $white;

            td{
                @include text(1.6rem,400,$gray-light4);
                padding: 1.6rem;
                figure{
                    width: 3.2rem;
                    height: 3.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .link-action{
                    padding: 1.6rem;
                    i{
                        font-size: 2.4rem;
                        color: $gray-light4;
                    }
                }
            }
        }
    }
}

.table-responsive{
    position: relative;
    //max-height:  300px;
    width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width:10px;
    }
    
    &::-webkit-scrollbar-button:increment,
    &::-webkit-scrollbar-button {
        display: none;
    } 
    
    &::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 10px;  
    }
}


