$main-dark:#006eb7;
$main:#009CEA;
$main-light-01:#51B8E8;
$main-light-02:#DEE6F7;

$secondary: #3b82ff;

$tertiary-dark-01:#5B6D90;
$tertiary:#6379A4;
$tertiary-light-01:#DEE6F7;

$gray-dark1:#131313;
$gray-dark2:#0E0E0E;
$gray-dark3:#0A0A0A;
$gray-dark4:#050505;
$gray:#181818;
$gray-light0:#F5F5F5;
$gray-light1:#D1D1D1;
$gray-light2:#A3A3A3;
$gray-light3:#867676;
$gray-light4:#464646;

$white:#FFF;
$white-light-01:#F8F6FB;

$red: #e4110a;

$success: #23B94B;

$red-light-4: #BB3131;

$yellow : #F3DB09;
$yellow-dark-01: #FBBC05;