/* contenedores */
/* mixins */
.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

.d-none {
  display: none !important; }

.d-flex {
  display: flex !important; }

.d-grid {
  display: grid !important; }

.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 20.68px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out; }

.btn-primary {
  background-color: #009CEA;
  color: #FFF; }

.btn-initial {
  color: #009CEA; }

.btn-secondary {
  border: 1px solid #009CEA; }

.btn-icon {
  display: flex;
  align-items: center; }
  .btn-icon figure {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0.4rem; }

.animate-scale:hover {
  transform: scale(1.1); }

.color-main {
  color: #009CEA; }

.color-light-01 {
  background-color: #51B8E8; }

.color-light-02 {
  background-color: #DEE6F7; }

.color-dark {
  background-color: #006eb7; }

.color-white {
  background-color: #FFF; }

.color-tertiary {
  background-color: #6379A4; }

.color-secondary {
  background-color: #3b82ff; }

.bg-primary {
  background-color: #009CEA; }

.bg-secondary {
  background-color: #3b82ff; }

.bg-tertiary {
  background-color: #6379A4; }

.mt-32 {
  margin-top: 3.2rem; }

.mt-24 {
  margin-top: 2.4rem; }

table thead tr th {
  font-size: 1.6rem;
  font-weight: 700;
  color: #181818;
  text-align: left;
  padding: 1.6rem; }
table tbody tr {
  border-bottom: 2.4rem solid #F8F6FB;
  background-color: #FFF; }
  table tbody tr td {
    font-size: 1.6rem;
    font-weight: 400;
    color: #464646;
    padding: 1.6rem; }
    table tbody tr td figure {
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden; }
    table tbody tr td .link-action {
      padding: 1.6rem; }
      table tbody tr td .link-action i {
        font-size: 2.4rem;
        color: #464646; }

.table-responsive {
  position: relative;
  width: 100%;
  overflow-x: auto; }
  .table-responsive::-webkit-scrollbar {
    -webkit-appearance: none; }
  .table-responsive::-webkit-scrollbar:vertical {
    width: 10px; }
  .table-responsive::-webkit-scrollbar-button:increment, .table-responsive::-webkit-scrollbar-button {
    display: none; }
  .table-responsive::-webkit-scrollbar:horizontal {
    height: 10px; }
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3; }
  .table-responsive::-webkit-scrollbar-track {
    border-radius: 10px; }

/* mixins */
@media screen and (min-width: 680px) {
  .header-mobile .menu .menu-list {
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center; }

  .hero-image .hero--top {
    grid-template-columns: 45% 1fr; }
    .hero-image .hero--top .right {
      display: flex;
      justify-content: flex-end; }
      .hero-image .hero--top .right figure {
        max-width: 320px; }
  .hero-image .hero--button {
    grid-template-columns: 45% 1fr; }
    .hero-image .hero--button .left {
      flex-direction: row; }
      .hero-image .hero--button .left .text--info {
        margin-left: 1.6rem; }
    .hero-image .hero--button .right {
      display: flex;
      justify-content: flex-end; }
      .hero-image .hero--button .right .social-icons {
        min-width: 320px;
        justify-content: center; }

  /* instituto itcenco */
  .institute-itcenco .top h3 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #FFF;
    font-family: "Montserrat", sans-serif; }
  .institute-itcenco .button {
    justify-content: space-between; }

  .text--title-section {
    font-size: 3.2rem; }

  .text--info-section {
    font-size: 2rem; }

  /* home general */
  .action-content .btn-expand {
    font-size: 2.4rem; }

  .content-search-certificate {
    min-height: 784px;
    padding: 4rem 1.6rem; }
    .content-search-certificate .title-content h3 {
      color: #FFF; }
    .content-search-certificate .title-content p {
      color: #FFF; }
    .content-search-certificate .search-input {
      position: relative;
      max-width: 680px;
      margin: 0 auto;
      margin-top: 4rem; }
      .content-search-certificate .search-input form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; }
      .content-search-certificate .search-input .input-icon {
        width: calc(100% - 305px); }
    .content-search-certificate .table-list-cotainer .table-list-header {
      grid-template-columns: repeat(2, 1fr); }
      .content-search-certificate .table-list-cotainer .table-list-header .left-header {
        justify-content: flex-start; }
      .content-search-certificate .table-list-cotainer .table-list-header .right-header {
        justify-content: flex-end; }

  .product__header .levels .text {
    font-size: 2rem; }

  .content-diplomat-info {
        /*.prinpcipal-content-info{

        }*/ }
    .content-diplomat-info .extra-info .list-extra-info {
      justify-content: space-between; }

  .content-dashboard {
    grid-template-columns: 320px 1fr; }
    .content-dashboard .dashboard-body {
      padding: 4rem 8rem; }

  .list-section-blog .section-blog {
    justify-content: space-between; }

  .list-section-event .section-event {
    justify-content: space-evenly; }

  .module-content-list-card .card-payment .list-card-container .item-course {
    padding: 1.6rem;
    gap: 1.6rem; }
    .module-content-list-card .card-payment .list-card-container .item-course figure {
      width: 17.6rem;
      height: 12.8rem; }
    .module-content-list-card .card-payment .list-card-container .item-course .box-info h3 {
      font-size: 2.2rem; }
    .module-content-list-card .card-payment .list-card-container .item-course .box-info p {
      font-size: 1.8rem; }
    .module-content-list-card .card-payment .list-card-container .item-course .box-price p {
      font-size: 2.4rem; }
  .module-content-list-card .card-payment .subtotal-card-contain .text--title {
    font-size: 2.4rem; }
  .module-content-list-card .card-payment .subtotal-card-contain .total-buy-resumen .item strong {
    font-size: 2.4rem; }
  .module-content-list-card .card-payment .subtotal-card-contain .total-buy-resumen .item p {
    font-size: 2.6rem; }
  .module-content-list-card .card-payment .subtotal-card-contain .total-payment p {
    font-size: 2.4rem; } }

/*# sourceMappingURL=min-width-680.css.map */
