/* contenedores */
/* mixins */
.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

.d-none {
  display: none !important; }

.d-flex {
  display: flex !important; }

.d-grid {
  display: grid !important; }

.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 20.68px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out; }

.btn-primary {
  background-color: #009CEA;
  color: #FFF; }

.btn-initial {
  color: #009CEA; }

.btn-secondary {
  border: 1px solid #009CEA; }

.btn-icon {
  display: flex;
  align-items: center; }
  .btn-icon figure {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0.4rem; }

.animate-scale:hover {
  transform: scale(1.1); }

.color-main {
  color: #009CEA; }

.color-light-01 {
  background-color: #51B8E8; }

.color-light-02 {
  background-color: #DEE6F7; }

.color-dark {
  background-color: #006eb7; }

.color-white {
  background-color: #FFF; }

.color-tertiary {
  background-color: #6379A4; }

.color-secondary {
  background-color: #3b82ff; }

.bg-primary {
  background-color: #009CEA; }

.bg-secondary {
  background-color: #3b82ff; }

.bg-tertiary {
  background-color: #6379A4; }

.mt-32 {
  margin-top: 3.2rem; }

.mt-24 {
  margin-top: 2.4rem; }

table thead tr th {
  font-size: 1.6rem;
  font-weight: 700;
  color: #181818;
  text-align: left;
  padding: 1.6rem; }
table tbody tr {
  border-bottom: 2.4rem solid #F8F6FB;
  background-color: #FFF; }
  table tbody tr td {
    font-size: 1.6rem;
    font-weight: 400;
    color: #464646;
    padding: 1.6rem; }
    table tbody tr td figure {
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden; }
    table tbody tr td .link-action {
      padding: 1.6rem; }
      table tbody tr td .link-action i {
        font-size: 2.4rem;
        color: #464646; }

.table-responsive {
  position: relative;
  width: 100%;
  overflow-x: auto; }
  .table-responsive::-webkit-scrollbar {
    -webkit-appearance: none; }
  .table-responsive::-webkit-scrollbar:vertical {
    width: 10px; }
  .table-responsive::-webkit-scrollbar-button:increment, .table-responsive::-webkit-scrollbar-button {
    display: none; }
  .table-responsive::-webkit-scrollbar:horizontal {
    height: 10px; }
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3; }
  .table-responsive::-webkit-scrollbar-track {
    border-radius: 10px; }

/* mixins */
@media screen and (min-width: 560px) {
  .container-filter-products .list-product-content .cards-content-products {
    justify-content: space-between; }

  /*.content-diplomat-info{
      .prinpcipal-content-info{
          .extra-info{
              .price-and-bottom{
                  grid-template-columns: repeat(2,1fr);
              }
          }
      }
  }*/
  .module-content-list-card .card-payment .list-card-container .item-course figure {
    grid-column: initial; }
  .module-content-list-card .card-payment .list-card-container .item-course .box-info {
    grid-column: initial; }
  .module-content-list-card .card-payment .list-card-container .item-course .box-price {
    grid-column: initial; } }

/*# sourceMappingURL=min-width-560.css.map */
