@import 'variables';
@import 'color';
@import 'class';
@import 'mixin';

@media screen and (min-width:680px) { 

    //header mobile
    .header-mobile{
        
        .menu{
            .menu-list{
                flex-direction: row;
                max-width: 1100px;
                margin:  0 auto;
                align-items: center;
            }
        }
    }

    //hero image
    .hero-image{
        .hero--top{
            grid-template-columns: 45% 1fr;
            .right{
                display: flex;
                justify-content: flex-end;
                figure{
                    max-width: 320px;
                }
            }
        }
        .hero--button{
            grid-template-columns: 45% 1fr;
            .left{
                flex-direction: row;
                .text--info{
                    margin-left: 1.6rem;    
                }
            }
            .right{
                display: flex;
                justify-content: flex-end;
                .social-icons{
                    min-width: 320px;
                    justify-content: center;
                }
            }
        }
    }

    /* instituto itcenco */

    .institute-itcenco{
        .top{
            h3{
                @include text(4.5rem,700,$white);
                font-family: $font_montserrat;
            }
        }
        .button{
            justify-content: space-between;
        }
    }

    //seccion courses
    .text--title-section{
        font-size: 3.2rem;
    }

    .text--info-section{
        font-size: 2rem;
    }
    
    /* home general */
    .action-content{
        .btn-expand{
            font-size: 2.4rem;
        }
    }


    //Search certificate
    .content-search-certificate {
        min-height: 784px;
        padding: 4rem 1.6rem;

        .title-content {
            h3 {
                color: $white;
            }

            p {
                color: $white;
            }
        }

        .search-input {
            position: relative;
            max-width: 680px;
            margin: 0 auto;
            margin-top: 4rem;

            form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            .input-icon {
                width: calc(100% - 305px);
            }
        }

        .table-list-cotainer {

            .table-list-header {
                grid-template-columns: repeat(2,1fr);

                .left-header {
                    justify-content: flex-start;

                }

                .right-header {
                    justify-content: flex-end;


                }
            }

        }
    }


    //header contenido
    .product__header{
        .levels{
            .text{
               font-size: 2rem;
            }
        }
    }

    //course-info
    .content-diplomat-info {
        .extra-info {
            .list-extra-info {
                justify-content: space-between;
            }
        }



        /*.prinpcipal-content-info{

        }*/

    }

    //panel de usuario - perfil
    .content-dashboard{
        grid-template-columns: 320px 1fr;
        .dashboard-body{
            padding: 4rem 8rem; 
        }
    }

    //blog
    .list-section-blog{
        .section-blog{
            justify-content: space-between;
        }
    }

    //Eventos
    .list-section-event{
        .section-event{
            justify-content: space-evenly;
        }
    }
    
    //Lista en el carrito

    .module-content-list-card{

        .card-payment{
            //grid-template-columns: 60% 1fr;
            //justify-content: space-between;
            .list-card-container{
               
                .item-course{
                    padding: 1.6rem;
                    gap: 1.6rem;
                
                    figure{
                        width: 17.6rem;
                        height: 12.8rem;
                    }
                    .box-info{
                        
                        h3{
                            font-size: 2.2rem;
                        }
                        p{
                            font-size: 1.8rem;
                        }
                        
                    }
                    .box-price{
                        p{
                            font-size: 2.4rem;
                        }
                    }
                }

            }
            .subtotal-card-contain{
                .text--title{
                    font-size: 2.4rem;
                }
                .total-buy-resumen{
                    .item{
                        strong{
                            font-size: 2.4rem;
                        }
                        p{
                            font-size: 2.6rem;
                        }
                    }
                }
                .total-payment{
                    p{
                        font-size: 2.4rem;
                    }
                }
            }
        
        }
    }


    

}