
@import 'variables';
@import 'color';
@import 'class';
@import 'mixin';


@media screen and (min-width:560px) { 
    
    .container-filter-products{
        .list-product-content{
            .cards-content-products{
                justify-content: space-between;
            }
        }
    }

    //info curso
    /*.content-diplomat-info{
        .prinpcipal-content-info{
            .extra-info{
                .price-and-bottom{
                    grid-template-columns: repeat(2,1fr);
                }
            }
        }
    }*/

    //Lista en el carrito

.module-content-list-card{
    .card-payment{
        .list-card-container{
            
            .item-course{
                
                figure{
                  
                    grid-column: initial;
                }
                .box-info{
                    grid-column: initial;
                    
                }
                .box-price{
                    grid-column: initial;
                   
                }
            }

        }
        
    }
}

}