@import 'variables';
@import 'color';
@import 'class';
@import 'mixin';

@media screen and (min-width:1366px) { 
    
    //header
    header{
        .header{
            .user-action{
                .btn-initial{
                    margin-right: 0.8rem;
                }
            }
        }
    }

    //hero image
    .hero-image{
        .title{
            font-size: 6rem;
        }
    }

    //Footer
    .footer{
        justify-items: center;
    }
}