@import 'variables';
@import 'color';
@import 'class';
@import 'mixin';


@media screen and (min-width:1100px) { 
    
    //hero image
    .hero-image{
        padding: 8rem 10rem 2.4rem 10rem;
        .title{
            font-size: 4.8rem;
        }
        .text{
            font-size: 2rem;
        }
    }

    //section courses
    .section-courses{
        .courses{
            .list-items{
                .item{
                    height: 120px;  
                }
            }
        }
    }

    .text--title-section{
        font-size: 4.5rem;
    }

    .course-filter-section{
         /* Listado de productos - filtro */
        .container-filter-products{
            padding: 1.6rem;
            display: grid;
            grid-template-columns: minmax(270px,322px) 1fr;
            gap: 1.6rem;
            align-items: baseline;
            .filter-product-content{
                display: block;
                position: relative;
                z-index: initial;
                .filtro-contenedor-dropdown{
                    height: initial;
                }
                .filter_content_button{
                    position: initial;
                }
            }
            .list-product-content{
                .header-product-container{
                    display: flex;
                    justify-content: space-between;
                    padding: 1.6rem 0;
                    .btn-filter{
                        display: none;
                    }
                }
                .rigth-content-products{
                    .cards-content-products{
                        justify-content: space-between;
                        padding: initial;
                    }
                }
            }
        }
    }

    /* Seccion contenido */

    .container-slider-module{
        .design-search{
            padding: 4rem 10rem;
        }
        .title{
          font-size: 4.5rem !important;
        }
        .paragraph{
            font-size: 2rem !important;
        }
    }

    .section-categories-resource{
        padding: 4rem 10rem;
    }

    .content-description-resource{
        padding: 4rem 10rem;
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 2rem;
        }
    }
    .container-list-resource-featured{
        .container{
            padding: 0 10rem;
        }
        .section-list-resources{
            .title-resource{
                font-size: 2rem;
            }
            .link-options{
                ul{
                    flex-direction: row;
                    a{
                        font-size: 2rem;
                        padding: 1.6rem 0.8rem;
                    }
                }
            }
        }
    }

    /*modulo info contenido*/
    .slide-info-content{
        display: grid;
        grid-template-columns: 60% 1fr;
        gap: 2.4rem;
        max-width: 1100px;
        margin: 0 auto;
        .resource-content-info{
            .group-text{
                h2{
                    font-size: 3.2rem;
                }
                p{
                    
                    font-size: 2.4rem;
                }
            }
            .group-btn{
                span{
                    font-size: 3.2rem;
                }
            }
        }
    }

    //info curso
    .content-diplomat-info{
        .container{
            padding: 4rem ;
        }
        .product__header{
            display: block;
        }

        .show-mobile {
            display: none;
        }

        .hide-desktop {
            display: block;
        }

        .second-section-info-course{
            .right-content-sections {
                display: flex;
            }
        }
/*        .prinpcipal-content-info{
            grid-template-columns: 55% 1fr;
            .extra-info{
                .title--principal-info{
                    font-size: 3.3rem;
                }
                .count-student{
                    .text-student{
                        font-size: 2rem;
                    }
                }
                .list-extra-info{
                    //justify-content: space-between;
                    .item-info{
                        .icon-short-info{
                            width: 2.4rem;
                            height: 2.4rem;
                        }
                        strong{
                            font-size: 2rem;
                        }
                        small{
                            font-size: 1.6rem;
                        }
                    }
                }
                .price-and-bottom{
                    .text-price{
                        strong{
                            font-size: 2.4rem;
                        }
                        span{
                            font-size: 2.4rem;
                        }
                    }
                    .button-subscribe{
                        a{
                            span{
                                @include text(1.6rem,700,$white);
                            }
                        }
                    }
                }
            }

        }*/

        .extra-info{
            .title--principal-info{
                font-size: 2.8rem;
            }
            .count-student{
                .text-student{
                    font-size: 1.8rem;
                }
            }
            .list-extra-info{
                //justify-content: space-between;
                .item-info{
                    .icon-short-info{
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    strong{
                        font-size: 2rem;
                    }
                    small{
                        font-size: 1.6rem;
                    }
                }
            }
            .price-and-bottom{
                .text-price{
                    strong{
                        font-size: 2.4rem;
                    }
                    span{
                        font-size: 2.4rem;
                    }
                }
                .button-subscribe{
                    a{
                        span{
                            @include text(1.6rem,700,$white);
                        }
                    }
                }
            }
        }

        .second-section-info-course{
            grid-template-columns: 55% 1fr;
        }
    }

    //Aula virtual
    .content-dashboard{
        .dashboard-body{
            .body-virtual-classroom{
                grid-template-columns: 2fr 1fr;
            }
        }
    }

    //Eventos
    .list-section-event{
        .container{
            padding: 4rem 10rem;
        }
        .section-event{
            justify-content: space-between;
        }
    }

    //Lista en el carrito

    .module-content-list-card{

        .card-payment{
            grid-template-columns: 60% 1fr;
            justify-content: space-between;
        }
    }
    
    //section dashboard

    .module-panel-admin{
        padding: 4rem ;
        .content-panel{
            grid-template-columns: 240px 1fr;
            .left-sidebar-menu{
                .menu-list-content{
                    .first-list{
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 0.8rem;
                    }
                }
            }

            .body-panel-content{
                .principal-content{
                    .content-graphic{
                        grid-template-columns: minmax(560px,65%) minmax(210px,1fr);
                    }
                }
            }
        }
    }
    
}