/* contenedores */
/* mixins */
.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

.d-none {
  display: none !important; }

.d-flex {
  display: flex !important; }

.d-grid {
  display: grid !important; }

.btn {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 20.68px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out; }

.btn-primary {
  background-color: #009CEA;
  color: #FFF; }

.btn-initial {
  color: #009CEA; }

.btn-secondary {
  border: 1px solid #009CEA; }

.btn-icon {
  display: flex;
  align-items: center; }
  .btn-icon figure {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0.4rem; }

.animate-scale:hover {
  transform: scale(1.1); }

.color-main {
  color: #009CEA; }

.color-light-01 {
  background-color: #51B8E8; }

.color-light-02 {
  background-color: #DEE6F7; }

.color-dark {
  background-color: #006eb7; }

.color-white {
  background-color: #FFF; }

.color-tertiary {
  background-color: #6379A4; }

.color-secondary {
  background-color: #3b82ff; }

.bg-primary {
  background-color: #009CEA; }

.bg-secondary {
  background-color: #3b82ff; }

.bg-tertiary {
  background-color: #6379A4; }

.mt-32 {
  margin-top: 3.2rem; }

.mt-24 {
  margin-top: 2.4rem; }

table thead tr th {
  font-size: 1.6rem;
  font-weight: 700;
  color: #181818;
  text-align: left;
  padding: 1.6rem; }
table tbody tr {
  border-bottom: 2.4rem solid #F8F6FB;
  background-color: #FFF; }
  table tbody tr td {
    font-size: 1.6rem;
    font-weight: 400;
    color: #464646;
    padding: 1.6rem; }
    table tbody tr td figure {
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden; }
    table tbody tr td .link-action {
      padding: 1.6rem; }
      table tbody tr td .link-action i {
        font-size: 2.4rem;
        color: #464646; }

.table-responsive {
  position: relative;
  width: 100%;
  overflow-x: auto; }
  .table-responsive::-webkit-scrollbar {
    -webkit-appearance: none; }
  .table-responsive::-webkit-scrollbar:vertical {
    width: 10px; }
  .table-responsive::-webkit-scrollbar-button:increment, .table-responsive::-webkit-scrollbar-button {
    display: none; }
  .table-responsive::-webkit-scrollbar:horizontal {
    height: 10px; }
  .table-responsive::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3; }
  .table-responsive::-webkit-scrollbar-track {
    border-radius: 10px; }

/* mixins */
@media screen and (min-width: 1100px) {
  .hero-image {
    padding: 8rem 10rem 2.4rem 10rem; }
    .hero-image .title {
      font-size: 4.8rem; }
    .hero-image .text {
      font-size: 2rem; }

  .section-courses .courses .list-items .item {
    height: 120px; }

  .text--title-section {
    font-size: 4.5rem; }

  .course-filter-section {
    /* Listado de productos - filtro */ }
    .course-filter-section .container-filter-products {
      padding: 1.6rem;
      display: grid;
      grid-template-columns: minmax(270px, 322px) 1fr;
      gap: 1.6rem;
      align-items: baseline; }
      .course-filter-section .container-filter-products .filter-product-content {
        display: block;
        position: relative;
        z-index: initial; }
        .course-filter-section .container-filter-products .filter-product-content .filtro-contenedor-dropdown {
          height: initial; }
        .course-filter-section .container-filter-products .filter-product-content .filter_content_button {
          position: initial; }
      .course-filter-section .container-filter-products .list-product-content .header-product-container {
        display: flex;
        justify-content: space-between;
        padding: 1.6rem 0; }
        .course-filter-section .container-filter-products .list-product-content .header-product-container .btn-filter {
          display: none; }
      .course-filter-section .container-filter-products .list-product-content .rigth-content-products .cards-content-products {
        justify-content: space-between;
        padding: initial; }

  /* Seccion contenido */
  .container-slider-module .design-search {
    padding: 4rem 10rem; }
  .container-slider-module .title {
    font-size: 4.5rem !important; }
  .container-slider-module .paragraph {
    font-size: 2rem !important; }

  .section-categories-resource {
    padding: 4rem 10rem; }

  .content-description-resource {
    padding: 4rem 10rem; }
    .content-description-resource h3 {
      font-size: 2rem; }
    .content-description-resource p {
      font-size: 2rem; }

  .container-list-resource-featured .container {
    padding: 0 10rem; }
  .container-list-resource-featured .section-list-resources .title-resource {
    font-size: 2rem; }
  .container-list-resource-featured .section-list-resources .link-options ul {
    flex-direction: row; }
    .container-list-resource-featured .section-list-resources .link-options ul a {
      font-size: 2rem;
      padding: 1.6rem 0.8rem; }

  /*modulo info contenido*/
  .slide-info-content {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 2.4rem;
    max-width: 1100px;
    margin: 0 auto; }
    .slide-info-content .resource-content-info .group-text h2 {
      font-size: 3.2rem; }
    .slide-info-content .resource-content-info .group-text p {
      font-size: 2.4rem; }
    .slide-info-content .resource-content-info .group-btn span {
      font-size: 3.2rem; }

  .content-diplomat-info {
    /*        .prinpcipal-content-info{
                grid-template-columns: 55% 1fr;
                .extra-info{
                    .title--principal-info{
                        font-size: 3.3rem;
                    }
                    .count-student{
                        .text-student{
                            font-size: 2rem;
                        }
                    }
                    .list-extra-info{
                        //justify-content: space-between;
                        .item-info{
                            .icon-short-info{
                                width: 2.4rem;
                                height: 2.4rem;
                            }
                            strong{
                                font-size: 2rem;
                            }
                            small{
                                font-size: 1.6rem;
                            }
                        }
                    }
                    .price-and-bottom{
                        .text-price{
                            strong{
                                font-size: 2.4rem;
                            }
                            span{
                                font-size: 2.4rem;
                            }
                        }
                        .button-subscribe{
                            a{
                                span{
                                    @include text(1.6rem,700,$white);
                                }
                            }
                        }
                    }
                }
    
            }*/ }
    .content-diplomat-info .container {
      padding: 4rem; }
    .content-diplomat-info .product__header {
      display: block; }
    .content-diplomat-info .show-mobile {
      display: none; }
    .content-diplomat-info .hide-desktop {
      display: block; }
    .content-diplomat-info .second-section-info-course .right-content-sections {
      display: flex; }
    .content-diplomat-info .extra-info .title--principal-info {
      font-size: 2.8rem; }
    .content-diplomat-info .extra-info .count-student .text-student {
      font-size: 1.8rem; }
    .content-diplomat-info .extra-info .list-extra-info .item-info .icon-short-info {
      width: 2.4rem;
      height: 2.4rem; }
    .content-diplomat-info .extra-info .list-extra-info .item-info strong {
      font-size: 2rem; }
    .content-diplomat-info .extra-info .list-extra-info .item-info small {
      font-size: 1.6rem; }
    .content-diplomat-info .extra-info .price-and-bottom .text-price strong {
      font-size: 2.4rem; }
    .content-diplomat-info .extra-info .price-and-bottom .text-price span {
      font-size: 2.4rem; }
    .content-diplomat-info .extra-info .price-and-bottom .button-subscribe a span {
      font-size: 1.6rem;
      font-weight: 700;
      color: #FFF; }
    .content-diplomat-info .second-section-info-course {
      grid-template-columns: 55% 1fr; }

  .content-dashboard .dashboard-body .body-virtual-classroom {
    grid-template-columns: 2fr 1fr; }

  .list-section-event .container {
    padding: 4rem 10rem; }
  .list-section-event .section-event {
    justify-content: space-between; }

  .module-content-list-card .card-payment {
    grid-template-columns: 60% 1fr;
    justify-content: space-between; }

  .module-panel-admin {
    padding: 4rem; }
    .module-panel-admin .content-panel {
      grid-template-columns: 240px 1fr; }
      .module-panel-admin .content-panel .left-sidebar-menu .menu-list-content .first-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem; }
      .module-panel-admin .content-panel .body-panel-content .principal-content .content-graphic {
        grid-template-columns: minmax(560px, 65%) minmax(210px, 1fr); } }

/*# sourceMappingURL=min-width-1100.css.map */
