<template>
	<label for="image" class="flex flex-col items-center cursor-pointer rounded-md font-medium text-indigo-600 text-center">
		<template v-if="!photoPreview">
			<svg class="bg-cover mx-auto h-12 w-12 text-gray-400 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 ring-indigo-500" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
				<path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
			<p class="text-xs text-gray-500">SELECCIONA UNA IMAGEN PARA SUBIR<br>PNG, JPG, GIF, SVG</p>
		</template>
		<template v-else>
			<img :src="photoPreview" class="bg-cover bg-center hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 ring-indigo-500" v-bind:height="Height" v-bind:width="Width">
			<p class="text-xs text-gray-500">VISTA PREVIA DE LA FOTO SELECCIONADA<br>PNG, JPG, GIF, SVG</p>
		</template>
		<input id="image" ref="fileupload" accept="image/*" name="image" type="file" @change="onChange($event)" @drop.prevent="addFile" @dragover.prevent class="sr-only">
	</label>
	
</template>

<script>
	export default{
		props: ['maxHeight', 'maxWidht'],
		data() {
			return {
				photoFile: null,
				photoPreview: null,
				Height: this.maxHeight,
				Width: this.maxWidht
			}
		},
		methods: {
			onChange(event) {
				var extension = ['jpeg', 'png', 'jpg', 'gif'];
				if (event.target.files[0] && extension.includes(event.target.files[0].name.split(".").pop())) {
					this.photoFile = event.target.files[0];
					const reader = new FileReader();
					reader.onload = (e) => {
						this.photoPreview = e.target.result;
					};
					reader.readAsDataURL(event.target.files[0]);
				}else{
					this.$refs.fileupload.value=null;
				}
			}
		}
	}
</script>